@use 'sass:color';

$border_white_color: rgba(white, .2);
$border_white_light_color: rgba(white, .1);
$cabin_bg_color: #23252b;
$cabin_bg_light_color: #3c4348;
$captain_console_dark_color: rgb(29, 33, 36);
$captain_console_theme_color: rgb(93, 110, 91);
$font_dark_color: color.scale(black, $lightness: 40%);
$font_white_color: color.scale(white, $lightness: -20%);
$font_map_color: #a49eb8;
$gray_light_color: rgb(178, 178, 178);
$map_bg_color: #19102b;
$map_nav_bg_color: rgba(0, 0, 0, 0.1);
$map_shadow_color: color.scale($map_bg_color, $lightness: 20%);
$captain_cabin_mobile_border_radius: .75rem;
$captain_cabin_mobile_glass_line: 1px;
$captain_cabin_mobile_handle_height: 1.5rem;
$captain_cabin_mobile_spacing: .25rem;
$mobile_secretary_scene_spacing: .5rem;
$change_bar_height: 4rem;
$change_bar_mobile_height: 3rem;
$console_border_width: 4px;
$console_mobile_border_width: 3px;
$dialogue_bubble_switch_height: 2rem;
$dialogue_bubble_content_min_height: 4rem;
$language_select_height: 3.5rem;
$language_select_width: 6.5rem;
$language_select_mobile_width: 5.5rem;
$launch_btn_circle_diameter: 4rem;
$launch_btn_circle_mobile_diameter: 3rem;
$launch_btn_text_height: 1rem;
$launch_btn_vertical_margin: .25rem;
$map_nav_display_margin: .5rem;
$secretary_scene_mobile_height: 5rem;
$captain_cabin_mobile_height: calc($change_bar_mobile_height + $secretary_scene_mobile_height + $captain_cabin_mobile_spacing * 5 + $captain_cabin_mobile_glass_line + $captain_cabin_mobile_handle_height);
$small_screen_width : 640px;
$transition_duration: .15s;

@mixin hover_light($is_custom_transition: false) {
    @if $is_custom_transition {
        @content;
    }

    @else {
        transition: background-color $transition_duration;
    }

    &:hover {
        background-color: rgba(white, .05);
    }
}