@use 'sass:color';
@use './general' as g;

$handle_height: 1.5rem;

.captain_cabin_mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: g.$captain_cabin_mobile_height;
    bottom: 0;
    border-radius: g.$captain_cabin_mobile_border_radius g.$captain_cabin_mobile_border_radius 0 0;
    background-color: g.$map_nav_bg_color;
    box-shadow: 0 -2px 0 g.$border_white_color;
    backdrop-filter: blur(3px);
    z-index: 2000;
    transition: bottom g.$transition_duration;
    // overflow: hidden;

    &.captain_cabin_mobile--half-collapsed {
        bottom: calc((g.$change_bar_mobile_height + g.$captain_cabin_mobile_glass_line + g.$captain_cabin_mobile_spacing * 2) * -1);
    }

    &.captain_cabin_mobile--collapsed {
        bottom: calc((g.$captain_cabin_mobile_height - g.$captain_cabin_mobile_handle_height) * -1);
    }

    &__handle {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: g.$captain_cabin_mobile_handle_height;

        &__icon {
            height: 40%;
            width: 4rem;
            border-radius: g.$captain_cabin_mobile_handle_height;
            // background-color: color.scale(white, $lightness: -30%);
            outline: 2px solid g.$border_white_color;
            cursor: move;
        }
    }
}

.console_wrapper {
    $spacing: .5rem;

    position: absolute;
    top: calc(-1 * g.$launch_btn_circle_mobile_diameter - $spacing);
    opacity: 1;
    z-index: 1500;
    transition: top calc(g.$transition_duration * 2),
        opacity calc(g.$transition_duration * 2),
        transform calc(g.$transition_duration * 2);

    &.console_wrapper__l {
        left: $spacing;
    }

    &.console_wrapper__r {
        right: $spacing;
    }

    &.console_wrapper--invisible {
        $rotation_degree: 90deg;

        opacity: 0;
        pointer-events: none;

        &.console_wrapper__l {
            top: 0;
            transform: rotateZ($rotation_degree);
        }

        &.console_wrapper__r {
            top: 0;
            transform: rotateZ(-1 * $rotation_degree);
        }
    }
}

@keyframes head_swing {
    $swing_angle: 3deg;

    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate($swing_angle);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(calc(-1 * $swing_angle));
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes head_flip_front {
    from {
        transform: rotateY(0deg);
        opacity: 1;
    }

    99% {
        transform: rotateY(89deg);
        opacity: 1;
    }

    to {
        transform: rotateY(90deg);
        opacity: 0;
    }
}

@keyframes head_flip_back {
    from {
        transform: rotateY(-180deg);
        opacity: 0;
    }

    49% {
        transform: rotateY(-91deg);
        opacity: 0;
    }

    50% {
        transform: rotateY(-90deg);
        opacity: 1;
    }

    to {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

.secretary_scene_mobile {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: g.$secretary_scene_mobile_height;
    padding-top: g.$captain_cabin_mobile_spacing;
    padding-bottom: calc(g.$captain_cabin_mobile_spacing * 2);

    .secretary_mobile__head {
        position: relative;
        flex-shrink: 0;
        height: 100%;
        margin-left: g.$mobile_secretary_scene_spacing;
        width: calc(g.$secretary_scene_mobile_height * .95);
        outline: 2px solid g.$border_white_color;
        border-radius: 50%;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            user-select: none;

            &.secretary_mobile__head--swinging {
                animation: head_swing linear 4s infinite;
            }

            &.secretary_mobile__head--flipping-front {
                animation: head_flip_front ease-in-out .15s 1;
            }

            &.secretary_mobile__head--flipping-back {
                animation: head_flip_back ease-in-out .3s 1;
            }

            &.prev_secretary_mobile__head {
                opacity: 0;
            }
        }
    }
}