$secretary_head_height: 256px;
$secretary_body_height: 192px;
$dialogue_bubble_height: 6rem;

.captain_cabin {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 320px;
    height: 100vh;
    // TODO
    min-height: 500px;
    border: 1px solid red;
}

.secretary_scene {
    position: relative;
    width: 100%;
    height: 80%;
    min-height: calc($secretary_head_height + $secretary_body_height + $dialogue_bubble_height);
    overflow: hidden;
    border: 1px solid green;
}

.secretary_display {
    position: relative;
    width: 100%;
    height: 100%;
}

.secretary_change_bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    border: 1px solid yellow;

    &__icon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 4rem;
        height: 100%;
    }
}

.secretary_list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
        border: 1px solid red;
    }
}

.secretary_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: -100;
}

.secretary_main {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialogue_bubble {
    position: relative;
    width: 90%;
    height: $dialogue_bubble_height;
    border: 1px solid red;

    &__body {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: .5rem;
    }

    &__tail {
        $bubble_tail_height: 2rem;

        position: absolute;
        bottom: (-$bubble_tail_height);
        left: .5rem;
        height: $bubble_tail_height;
        width: 2rem;
        background-color: white;
        border: 1px solid red;
    }
}

.secretary {
    display: flex;
    flex-direction: column;
    justify-content: flex-bottom;
    align-items: center;
    width: 256px;

    &__head {
        width: 100%;
        height: $secretary_head_height;
        border: 1px solid blue;
    }

    &__body {
        width: 100%;
        height: $secretary_body_height;
        border: 1px solid green;
    }
}

.captain_console {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    min-height: 5rem;
    border: 1px solid yellow;
}

.launch_cancel_btn {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}

.selected_region_cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid blue;
    user-select: none;

    &__value {
        $cnt_value_height: 1rem;

        width: 60%;
        height: $cnt_value_height;
        margin: 2rem 0;
        text-align: center;
        line-height: $cnt_value_height;
        border: 1px solid black;
        border-radius: $cnt_value_height;
    }

    &__text {
        width: 80%;
        height: 1rem;
        text-align: center;
        border: 1px solid red;
        user-select: none;
    }
}

.launch_confirm_btn {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}

.launch_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__circle {
        $circle_radius: 5rem;

        display: flex;
        justify-content: center;
        align-items: center;
        width: $circle_radius;
        height: $circle_radius;
        border: 1px solid red;
        border-radius: 50%;
    }

    &__text {
        width: 80%;
        height: 1rem;
        text-align: center;
        border: 1px solid red;
        user-select: none;
    }
}