@use "sass:math";
@import url('https://fonts.cdnfonts.com/css/digital-numbers');

$bubble_white_color: rgb(233, 242, 248);
$font_white_color: darken(white, 20%);
$transition_duration: .15s;
$secretary_head_height: 256px;
$secretary_body_height: 192px;
$dialogue_bubble_min_height: 4rem;
$language_select_height: 3.5rem;
$launch_btn_circle_diameter: 4rem;
$launch_btn_text_height: 1rem;
$launch_btn_vertical_margin: .75rem;
$console_border_width: 4px;
$captain_console_height_percentage: 20%;
$secretary_neck_height: math.div($secretary_head_height, 6);
$secretary_scene_min_height: calc($secretary_head_height + $secretary_body_height - $secretary_neck_height + $dialogue_bubble_min_height + $language_select_height);
$captain_console_min_height: calc($launch_btn_circle_diameter + $launch_btn_text_height + $launch_btn_vertical_margin * 4);

.language_select {
    @debug $secretary_neck_height;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: $language_select_height;

    &>div {
        margin-right: 1rem;
        border-radius: .5rem;
        // background-color: $bg_color_light;
        outline: 2px solid rgba(white, .2);
        transition: background-color $transition_duration;

        &:hover {
            background-color: rgba(white, .05);
        }
    }

    .MuiInputBase-root {
        min-width: 6.5rem;

        fieldset {
            border: none;
        }

        svg {
            fill: $font_white_color;
            transition: transform $transition_duration;
        }
    }

    .MuiSelect-select {
        padding: .25rem .5rem;
        font-size: 1rem;
        color: $font_white_color;
    }

}

.MuiPaper-root {
    background-color: rgba(#505e6e, .8) !important;
    backdrop-filter: blur(2px);

    li {
        color: darken(white, 5%);
        background-color: transparent;
        transition: background-color $transition_duration;

        &:hover {
            background-color: rgba(white, .1);
        }

        &.Mui-selected,
        &.Mui-selected:hover,
        &:active,
        &:focus,
        &.Mui-selected:focus {
            background-color: rgba(#CD6688, .4);
        }
    }
}

.captain_cabin {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 320px;
    height: 100vh;
    min-height: calc($secretary_scene_min_height + $captain_console_min_height);
}

.secretary_scene {
    position: relative;
    width: 100%;
    height: calc(100% - $captain_console_height_percentage);
    min-height: $secretary_scene_min_height;
    overflow: hidden;
}

.secretary_display {
    position: relative;
    width: 100%;
    height: 100%;
}


.secretary_change_bar {
    $bar_height: 64px;
    $transition_duration: .3s;
    $bar_icon_width: 3rem;
    $bg_opacity: .8;

    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 10px;
    left: calc(-100% + $bar_icon_width);
    width: 100%;
    height: $bar_height;
    // background: linear-gradient(225deg, rgba(#f0f0f0, $bg_opacity), rgba(#cacaca, $bg_opacity));
    // background: linear-gradient(225deg, rgba($bg_color_light, $bg_opacity), rgba(#444f5d, $bg_opacity));
    background: rgba(#444f5d, $bg_opacity);
    border-radius: 0 $bar_height $bar_height 0;
    transition: left $transition_duration, border-radius $transition_duration;
    overflow: hidden;
    z-index: 500;

    &.secretary_change_bar--extended {
        left: 0;
        border-radius: 0;

        .secretary_change_bar__icon>div {
            left: 0;
        }
    }

    &__icon {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: $bar_icon_width;
        width: $bar_icon_width;
        overflow: hidden;
        cursor: pointer;

        &>div {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            left: (-$bar_icon_width);
            height: 100%;
            width: $bar_icon_width;
            transition: left $transition_duration;

            &>span {
                font-size: 2rem;
                color: $font_white_color;
            }

            &:last-child {
                transform: translateX(-.25rem);
            }
        }
    }
}

.secretary_list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;

    &__item {
        $list_item_dimeter: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;
        height: $list_item_dimeter;
        width: $list_item_dimeter;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color $transition_duration;

        &:hover {
            background-color: rgba(darken(white, 10%), .1);
        }
    }
}

.secretary_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(15deg, #29323c 0%, #485563 100%);
    z-index: -100;
}

.secretary_main {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialogue_bubble {
    $bubble_border_radius: .6rem;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: $secretary_neck_height;
    width: 90%;
    min-height: $dialogue_bubble_min_height;
    padding: .25rem .5rem;
    box-sizing: border-box;
    background-color: $bubble_white_color;
    border-radius: $bubble_border_radius;
    z-index: 200;

    span {
        min-width: 0%;
        max-width: 100%;
        color: rgb(43, 55, 68);
        font-family: Georgia, "等线";
        word-break: normal;
        word-wrap: break-word;
    }

    &::after {
        $bubble_tail_height: 10px;

        content: "";
        display: block;
        position: absolute;
        bottom: (-$bubble_tail_height);
        left: calc($bubble_border_radius + 4px);
        height: $bubble_tail_height;
        width: 8px;
        background-color: $bubble_white_color;
        border-radius: 0 0 0 100%;
    }
}

.secretary {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    // flex-grow: 1;
    width: 256px;

    &>div {
        flex-grow: 0;
        width: 100%;

        img {
            position: relative;
            width: 100%;
        }
    }

    &__head {
        position: relative;
        top: $secretary_neck_height;
        height: $secretary_head_height;
        overflow: visible;
        z-index: 100;

        img {
            top: 0;
        }
    }

    &__body {
        height: $secretary_body_height;
    }
}

$captain_console_theme_color: rgb(93, 110, 91);
$captain_console_dark_color: rgb(29, 33, 36);

.captain_console {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: $captain_console_height_percentage;
    min-height: $captain_console_min_height;
    background-color: $captain_console_theme_color;
    // box-shadow: 0 -2px 8px rgba(black, .4);
    outline: $console_border_width solid $captain_console_dark_color;
    z-index: 500;
}

@mixin btn_hover_and_active($bg_color) {
    &:hover {
        background-color: darken($bg_color, 3%);
    }

    &:active {
        background-color: darken($bg_color, 6%);
        box-shadow: none;
    }
}

.launch_cancel_btn {
    width: 100%;
    height: 100%;

    .launch_btn__circle>div {
        $cancel_btn_bg_color: rgb(146, 114, 74);

        background-color: $cancel_btn_bg_color;

        @include btn_hover_and_active($cancel_btn_bg_color);
    }
}

.launch_confirm_btn {
    width: 100%;
    height: 100%;

    .launch_btn__circle>div {
        $confirm_btn_bg_color: rgb(133, 69, 68);

        background-color: $confirm_btn_bg_color;

        @include btn_hover_and_active($confirm_btn_bg_color);
    }
}

.launch_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $launch_btn_circle_diameter;
        height: $launch_btn_circle_diameter;
        margin: $launch_btn_vertical_margin 0;
        background-color: $captain_console_dark_color;
        border-radius: 50%;
        box-shadow: 0 8px 0 rgba(black, .3);
        cursor: pointer;

        &>div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: calc($launch_btn_circle_diameter - $console_border_width * 2);
            height: calc($launch_btn_circle_diameter - $console_border_width * 2);
            border-radius: 50%;
            box-shadow: inset 2px 2px 0 rgba(white, .2);
            transition: background-color $transition_duration, box-shadow $transition_duration;

            img {
                width: 75%;
                height: 75%;
                opacity: 80%;
                user-select: none;
            }
        }
    }
}

.selected_region_cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: darken($captain_console_theme_color, 5%);
    user-select: none;

    &__value {
        $cnt_value_height: 1.5rem;

        width: 75%;
        height: $cnt_value_height;
        margin: calc(math.div($launch_btn_circle_diameter - $cnt_value_height, 2) + $launch_btn_vertical_margin) 0;
        text-align: center;
        line-height: $cnt_value_height;
        font-family: "Digital Numbers", sans-serif;
        color: rgba(255, 255, 255, .75);
        background-color: rgb(54, 66, 68);
        outline: $console_border_width solid $captain_console_dark_color;
        border-radius: $cnt_value_height;
    }
}

.console_label {
    width: 80%;
    height: $launch_btn_text_height;
    margin: $launch_btn_vertical_margin 0;
    text-align: center;
    line-height: $launch_btn_text_height;
    color: rgba($captain_console_dark_color, .6);
    font-family: sans-serif, "黑体";
    font-weight: bold;
    user-select: none;
}