@use './general' as g;

.captain_cabin--mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: g.$captain_cabin_mobile_height;
    bottom: calc(g.$captain_cabin_mobile_border_radius);
    padding-top: calc(g.$captain_cabin_mobile_border_radius);
    // padding-bottom: calc(g.$captain_cabin_mobile_border_radius / 2);
    background-color: g.$cabin_bg_color_light;
    border-radius: g.$captain_cabin_mobile_border_radius g.$captain_cabin_mobile_border_radius 0 0;
    box-shadow: 0 -2px 4px rgba(black, .25);
    z-index: 1200;
}

.console_wrapper {
    $spacing: .25rem;

    position: absolute;
    top: calc(g.$launch_btn_circle_mobile_diameter * -1 - $spacing);
    opacity: 1;
    z-index: 2000;
    transition: opacity g.$transition_duration,
        left g.$transition_duration,
        right g.$transition_duration;

    &.console_wrapper__l {
        left: $spacing;
    }

    &.console_wrapper__r {
        right: $spacing;
    }

    &.console_wrapper--invisible {
        opacity: 0;

        &.console_wrapper__l {
            left: (- g.$launch_btn_circle_mobile_diameter);
        }

        &.console_wrapper__r {
            right: (- g.$launch_btn_circle_mobile_diameter);
        }
    }
}

@keyframes head_swing {
    $swing_angle: 3deg;

    from {
        transform: rotate(- $swing_angle);
    }

    50% {
        transform: rotate($swing_angle);
    }

    to {
        transform: rotate(- $swing_angle);
    }
}

.secretary_scene--mobile {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: g.$secretary_scene_mobile_height;

    .secretary__head--mobile {
        position: relative;
        height: 100%;
        margin-left: .25rem;
        width: calc(g.$secretary_scene_mobile_height * .95);
        overflow: hidden;

        img {
            position: relative;
            top: 0;
            width: 100%;

            animation: head_swing ease-in-out 4s infinite;
        }
    }
}