@use './general' as g;

.world_map__main>svg {
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;

    .rsm-geography {
        stroke: g.$map_bg_color;
        stroke-width: .25;
        cursor: pointer;
        transition: fill g.$transition_duration;
        outline: none;

        @media screen and (max-width: g.$small_screen_width) {
            cursor: default;
        }

        @media screen and (min-width: g.$small_screen_width) {
            &:hover {
                fill: #5babf8;
            }
        }
    }

    .region_label_text {
        font-size: var(--label-font-size, 1.25rem);
        text-anchor: middle;
        fill: white;
        font-family: "Consolas";
        outline: none;
        user-select: none;
        cursor: pointer;

        @media screen and (max-width: g.$small_screen_width) {
            cursor: default;
        }
    }

}