@use './general' as g;

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  touch-action: none;

  @media screen and (max-width: g.$small_screen_width) {
    min-width: 100vw;
  }
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: g.$map_bg_color;

  @media screen and (max-width: g.$small_screen_width) {
    flex-direction: column;
    overflow: hidden;
  }
}