@use './general' as g;

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  touch-action: none;

  @media screen and (max-width: g.$small_screen_width) {
    min-width: 100vw;
  }
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: g.$map_bg_color;

  @media screen and (max-width: g.$small_screen_width) {
    flex-direction: column;
    overflow: hidden;
  }
}

@keyframes spinner_rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading_spinner {
  $diameter: 80px;

  display: block;
  position: relative;
  width: $diameter;
  height: calc(var(--vh, 1vh) * 100);
  padding-top: calc(calc(var(--vh, 1vh) * 50) - $diameter / 2);
  background-color: transparent;

  div {
    animation: spinner_rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: rgb(115, 173, 92);
      margin: -4px 0 0 -4px;
    }

    &:nth-child(1) {
      animation-delay: -0.036s;

      &::after {
        top: 63px;
        left: 63px;
      }
    }

    &:nth-child(2) {
      animation-delay: -0.072s;

      &::after {
        top: 68px;
        left: 56px;
      }
    }

    &:nth-child(3) {
      animation-delay: -0.108s;

      &::after {
        top: 71px;
        left: 48px;
      }
    }

    &:nth-child(4) {
      animation-delay: -0.144s;

      &::after {
        top: 72px;
        left: 40px;
      }
    }

    &:nth-child(5) {
      animation-delay: -0.18s;

      &::after {
        top: 71px;
        left: 32px;
      }
    }

    &:nth-child(6) {
      animation-delay: -0.216s;

      &::after {
        top: 68px;
        left: 24px;
      }
    }

    &:nth-child(7) {
      animation-delay: -0.252s;

      &::after {
        top: 63px;
        left: 17px;
      }
    }

    &:nth-child(8) {
      animation-delay: -0.288s;

      &::after {
        top: 56px;
        left: 12px;
      }
    }
  }
}