@use 'sass:color';
@use './general' as g;

.language_select {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: g.$language_select_height;
    z-index: 1500;

    &>span {
        color: g.$font_white_color;
        font-size: 1.25rem;
        user-select: none;
        margin-right: .5rem;
    }

    &>div {
        margin-right: 1rem;
        border-radius: .5rem;
        outline: 2px solid g.$border_white_color;

        @include g.hover_light;
    }

    .MuiInputBase-root {
        width: g.$language_select_width;

        fieldset {
            border: none;
        }

        svg {
            fill: g.$font_white_color;
            transition: transform calc(g.$transition_duration * 2);
        }
    }

    .MuiSelect-select {
        padding: .25rem .5rem;
        font-size: 1rem;
        color: g.$font_white_color;
    }

    @media screen and (max-width: g.$small_screen_width) {
        position: absolute;
        width: fit-content;
        right: 0;
        top: 0;

        &>span {
            // color: g.$gray_light_color;
            display: none;
        }

        &>div {
            margin-right: g.$map_nav_display_margin;
            outline: none;
        }

        .MuiInputBase-root {
            width: g.$language_select_mobile_width;

            svg {
                fill: g.$gray_light_color;
            }
        }

        .MuiSelect-select {
            font-size: .75rem;
            background-color: g.$map_nav_bg_color;
            // box-shadow: 0 0 g.$map_nav_display_margin g.$map_shadow_color;
            outline: 2px solid rgba(255, 255, 255, .1) !important;
            backdrop-filter: blur(2px);
        }
    }
}

.MuiPaper-root {
    background-color: rgba(color.scale(g.$cabin_bg_light_color, $lightness: 7%), .75) !important;
    backdrop-filter: blur(2px);

    li {
        color: color.scale(white, $lightness: -10%);
        background-color: transparent;
        transition: background-color g.$transition_duration;

        &:hover {
            background-color: rgba(white, .1);
        }

        &.Mui-selected,
        &.Mui-selected:hover,
        &:active,
        &:focus,
        &.Mui-selected:focus {
            background-color: rgba(#CD6688, .4);
        }
    }

    @media screen and (max-width: g.$small_screen_width) {
        left: calc(100% - g.$map_nav_display_margin - g.$language_select_mobile_width) !important;
        background-color: g.$map_nav_bg_color !important;
        outline: 2px solid rgba(255, 255, 255, .1) !important;

        li {
            min-height: 2.5rem !important;
            padding-left: 8px;
            // color: g.$font_dark_color;
            font-size: .75rem;
        }
    }
}