@use 'sass:color';
@use 'sass:math';
@use './general' as g;

.secretary_bg {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: g.$cabin_bg_color;
    z-index: 0;
}

.porthole {
    $inner_radius: 110px;
    $border_width: 40px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.5rem;
    height: calc($inner_radius * 2);
    width: calc($inner_radius * 2);
    border: $border_width solid color.scale(g.$cabin_bg_color, $lightness: -30%);
    // background-color: cyan;
    border-radius: 50%;

    &__rivet {
        $rivet_radius: 10px;
        $rotation_radius: calc($inner_radius + $rivet_radius + ($border_width - $rivet_radius * 2) / 2);

        position: absolute;
        height: calc($rivet_radius * 2);
        width: calc($rivet_radius * 2);
        border-radius: 50%;
        background-color: g.$cabin_bg_color;

        @for $i from 1 through 8 {
            &:nth-child(#{$i}) {
                transform: translate(math.sin(calc(($i - 1) * (math.$pi / 4) * 1rad)) * $rotation_radius,
                        math.cos(calc(($i - 1) * (math.$pi / 4) * 1rad)) * $rotation_radius);
            }
        }
    }
}

.sea_scene {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .3;
    }
}