@use './general' as g;

.secretary_list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    user-select: none;

    &__item {
        $list_item_dimeter: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;
        height: $list_item_dimeter;
        width: $list_item_dimeter;
        outline: 2px solid transparent;
        border-radius: 50%;
        background-color: rgba(white, .15);
        backdrop-filter: blur(2px);
        cursor: pointer;
        transition: outline-color g.$transition_duration;

        img {
            width: 90%;
            height: 90%;
        }

        &:hover {
            outline-color: g.$font_white_color;
        }
    }

    @media screen and (max-width: g.$small_screen_width) {
        flex-grow: 0;
        width: 100%;
        height: g.$change_bar_mobile_height;
        outline: 2px dashed g.$border_white_color;
        outline-offset: 3px;
        z-index: 2000;

        &__item {
            $list_item_dimeter_mobile: 2.5rem;

            height: $list_item_dimeter_mobile;
            width: $list_item_dimeter_mobile;
            outline: none;
            cursor: none;
        }
    }
}