@use 'sass:color';
@use './general' as g;

$relocate_icon_size: 1.5rem;
$select_padding_vertical: 4px;

.world_map {
    $scan_line_color: rgba(255, 255, 255, .05);

    position: relative;
    flex-grow: 1;
    min-width: 320px;
    height: calc(var(--vh, 1vh) * 100);
    background-color: g.$map_bg_color;
    background-image:
        linear-gradient(0deg, transparent 24%, $scan_line_color 25%, $scan_line_color 26%, transparent 27%, transparent 74%, $scan_line_color 75%, $scan_line_color 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, $scan_line_color 25%, $scan_line_color 26%, transparent 27%, transparent 74%, $scan_line_color 75%, $scan_line_color 76%, transparent 77%, transparent);
    background-size: 3rem 3rem;
    background-position: -1rem -1rem;
    background-repeat: repeat;
    overflow: hidden;
    box-shadow: -2px 0 8px rgba(black, .4);
    z-index: 1000;

    &__main {
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    @media screen and (max-width: g.$small_screen_width) {
        width: 100%;
        min-width: 100vw;
        height: calc(var(--vh, 1vh) * 100);
        box-shadow: none;
    }
}

.death_counter {
    $display_height: 2.5rem;
    $padding_horizontal: .5rem;
    $icon_size: 1.25rem;
    $icon_margin_right: .5rem;

    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: calc(g.$map_nav_display_margin + $select_padding_vertical + 1px);
    left: g.$map_nav_display_margin;
    min-width: calc($icon_size + $icon_margin_right + 2rem);
    padding: 0 $padding_horizontal;
    height: calc(g.$language_select_height - g.$map_nav_display_margin * 2 - $select_padding_vertical * 2 - 1px);
    background-color: g.$map_nav_bg_color;
    backdrop-filter: blur(2px);
    border-radius: $display_height;
    outline: 2px solid g.$border_white_light_color;
    z-index: 1200;

    &__icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: $icon_size;
        width: $icon_size;
        margin-left: calc(($relocate_icon_size - $icon_size) / 2);
        margin-right: $icon_margin_right;

        img {
            width: 100%;
            height: 100%;
            user-select: none;
        }
    }

    &__value {
        color: g.$font_map_color;
        font-family: "Trebuchet MS";
        user-select: none;
    }

    @media screen and (max-width: g.$small_screen_width) {
        min-width: calc($icon_size + $icon_margin_right + 1rem);
        max-width: calc(100% - g.$map_nav_display_margin * 2 - $padding_horizontal * 2 - g.$language_select_width);
        overflow: hidden;

        &__value {
            font-size: .75rem;
            max-width: calc(100% - $icon_margin_right - $icon_size);
            overflow-x: auto;
            scrollbar-color: transparent transparent !important;
            scrollbar-width: none !important;
        }
    }
}

@keyframes exploding {
    $color_opacity: .75;
    $red_color: rgba(#931f1f, $color_opacity);

    0% {
        background-color: transparent;
        opacity: 0;
    }

    10% {
        background-color: $red_color;
        opacity: 1;
    }

    60% {
        background-color: $red_color;
    }

    90% {
        background-color: rgba(black, $color_opacity);
        opacity: 1;
    }

    100% {
        background-color: transparent;
        opacity: 0;
    }
}

@keyframes mushroom_head_expanding {
    0% {
        height: 90%;
        opacity: 0;
        filter: brightness(100%);
    }

    10% {
        opacity: 1;
    }

    60% {
        filter: brightness(100%);
    }

    80% {
        opacity: 1;
        filter: brightness(0%);
    }

    100% {
        height: 100%;
        opacity: 0;
    }
}

@keyframes mushroom_root_expanding {
    0% {
        width: min(720px, 90%);
        opacity: 0;
        filter: brightness(100%);
    }

    10% {
        opacity: 1;
    }

    60% {
        filter: brightness(100%);
    }

    80% {
        opacity: 1;
        filter: brightness(0%);
    }

    100% {
        width: min(1120px, 140%);
        opacity: 0;
    }
}

.explosion_scene {
    $animation_duration: 3s;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    opacity: 0;
    animation: exploding linear $animation_duration 1;

    img {
        position: absolute;
        opacity: 0;
        user-select: none;
        filter: brightness(0%);
    }

    img:nth-child(1) {
        height: 90%;
        width: auto;
        animation: mushroom_head_expanding linear $animation_duration 1;
    }

    img:nth-child(2) {
        height: auto;
        width: 800px;
        animation: mushroom_root_expanding linear $animation_duration 1;
    }
}


.relocate_btn {
    $diameter: 2.5rem;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $diameter;
    height: $diameter;
    top: calc(g.$language_select_height + .5rem - $select_padding_vertical * 2);
    left: g.$map_nav_display_margin;
    border-radius: 50%;
    background-color: g.$map_nav_bg_color;
    backdrop-filter: blur(2px);
    outline: 2px solid g.$border_white_light_color;
    cursor: pointer;
    z-index: 1500;
    transition: background-color g.$transition_duration;

    span {
        color: g.$font_map_color;
        font-size: $relocate_icon_size;
    }

    &:hover {
        background-color: color.scale(g.$map_nav_bg_color, $lightness: 20%);
    }

    &:active {
        background-color: color.scale(g.$map_nav_bg_color, $lightness: 40%);
    }

    @media screen and (max-width: g.$small_screen_width) {
        cursor: default;
    }
}