@use './general' as g;

.world_map {
    position: relative;
    flex-grow: 1;
    min-width: 320px;
    height: calc(var(--vh, 1vh) * 100);
    background-color: g.$map_bg_color;
    overflow: hidden;
    box-shadow: -2px 0 8px rgba(black, .4);
    z-index: 1000;

    &__main {
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    @media screen and (max-width: g.$small_screen_width) {
        width: 100%;
        height: calc(var(--vh, 1vh) * 100 - g.$captain_cabin_mobile_height);
        box-shadow: none;
    }
}

.death_cnt {
    $display_height: 2.5rem;

    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: g.$map_nav_display_margin;
    left: g.$map_nav_display_margin;
    min-width: 4rem;
    padding: 0 .75rem;
    height: calc(g.$language_select_height - g.$map_nav_display_margin * 2);
    background-color: g.$map_nav_bg_color;
    backdrop-filter: blur(2px);
    border-radius: $display_height;
    box-shadow: 0 0 g.$map_nav_display_margin rgba(142, 142, 142, .4);
    z-index: 1200;

    &__icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
        margin-right: .5rem;

        img {
            width: 100%;
            height: 100%;
            user-select: none;
        }
    }

    &__value {
        color: g.$font_dark_color;
        font-family: "Trebuchet MS";
        user-select: none;
    }
}

@keyframes explosion {
    $color_opacity: .8;
    $red_color : rgba(#630606, $color_opacity);

    0% {
        background-color: transparent;
        opacity: 0;
    }

    10% {
        background-color: $red_color;
        opacity: 1;
    }

    60% {
        background-color: $red_color;
    }

    80% {
        background-color: rgba(white, $color_opacity);
    }

    100% {
        background-color: transparent;
        opacity: 1;
    }
}

@keyframes cloud {
    0% {
        height: 90%;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        height: 93%;
        opacity: 0;
    }
}

.explosion_scene {
    $animation_duration: 3s;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    opacity: 0;
    animation: explosion linear $animation_duration 1;

    img {
        height: 90%;
        opacity: 0;
        user-select: none;
        animation: cloud linear $animation_duration 1;
    }
}

.relocate_btn {
    $diameter: 2.5rem;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $diameter;
    height: $diameter;
    top: calc(g.$language_select_height + .5rem);
    left: g.$map_nav_display_margin;
    border-radius: 50%;
    background-color: g.$map_nav_bg_color;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 g.$map_nav_display_margin rgba(142, 142, 142, .4);
    cursor: pointer;
    z-index: 1500;
    transition: background-color g.$transition_duration;

    span {
        color: g.$gray_color_light;
        font-size: 1.5rem;
    }

    &:hover {
        background-color: darken(g.$map_nav_bg_color, 4%);
    }

    &:active {
        background-color: darken(g.$map_nav_bg_color, 8%);
    }
}